
<style>.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}</style>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
       
<%= form_with url: sign_in_path,  local:true do |form| %>
          <div class="form-outline mb-4">
<%= form.label :email%>
<%= form.text_field :email, class: "form-control", placeholder: "Email" %>
</div>
          <div class="form-outline mb-4">
<%= form.label :password%>
<%= form.password_field :password, class: "form-control", placeholder: "Passwrod"  %>
<%= link_to "Forgot your password", password_reset_path %>
</div>
          <div class="form-outline mb-4">
<%= form.submit "Sign In"%>
</div>
<% end %>
      </div>
    </div>
  </div>
 
    <!-- Right -->
  </div>
</section>