
<div class="row">
<div class="col-md-4">
<%= image_tag(@book.book_img, class: "book-show")%>
</div>

<div class="col-md-8">
<div class="book-info">
<h2 class="book-title"><%= @book.title%></h2>
<h3 class="book-author"><span>From </span><%= @book.author%></h3>
<p class="number-of-reviews"><%= @book.price%></p>
<h2 class="avg-rating">Average Rating</h2>
<p class="average-review-rating"><% @average_review.to_i.times do %>
<img src="https://img.freepik.com/premium-vector/yellow-star-icon-vector-illustration_118339-2885.jpg" width="25px" height="25px">
<% end %></p>

<p class="book-desc"><%= @book.description%></p>
</div>
</div>

</div>


<div class="row">
<div class="col-md-4">
<div style="margin-bottom: 15px;">
<div class="reviews">
<h1>Reviews</h1>
<%= render @book.reviews %>

      <% if Current.user %>
<div>
<%= link_to "Add Review", new_book_review_path(@book) %>
</div>
<%end%>
</div>

</div>
</div>
</div>
&nbsp;

<%= link_to "Back", root_path%>

      <% if Current.user %>
      <% if @book.user_id == Current.user.id %>

<%= link_to "Edit", edit_book_path(@book)%>
  <%= button_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" } %>
<%end%>
<%end%>

